In [2]:
!pip install ace-tools-open

Requirement already satisfied: ace-tools-open in c:\users\henry\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: pandas in c:\users\henry\anaconda3\lib\site-packages (from ace-tools-open) (2.2.2)
Requirement already satisfied: itables in c:\users\henry\anaconda3\lib\site-packages (from ace-tools-open) (2.2.5)
Requirement already satisfied: IPython in c:\users\henry\appdata\roaming\python\python312\site-packages (from ace-tools-open) (9.0.1)
Requirement already satisfied: colorama in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (0.4.6)
Requirement already satisfied: decorator in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (2.19.1)
Requirement already satisfied: stack_data in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\henry\appdata\roaming\python\python312\site-packages (from IPython->ace-tools-open) (5.14.3)
Requirement already satisfied: numpy in c:\users\henry\anaconda3\lib\site-packages (from itables->ace-tools-open) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\henry\appdata\roaming\python\python312\site-packages (from pandas->ace-tools-open) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\henry\anaconda3\lib\site-packages (from pandas->ace-tools-open) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\henry\anaconda3\lib\site-packages (from pandas->ace-tools-open) (2023.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\henry\appdata\roaming\python\python312\site-packages (from jedi>=0.16->IPython->ace-tools-open) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\henry\appdata\roaming\python\python312\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->IPython->ace-tools-open) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\henry\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas->ace-tools-open) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\henry\appdata\roaming\python\python312\site-packages (from stack_data->IPython->ace-tools-open) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\henry\appdata\roaming\python\python312\site-packages (from stack_data->IPython->ace-tools-open) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\henry\appdata\roaming\python\python312\site-packages (from stack_data->IPython->ace-tools-open) (0.2.3)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("LLCP2023.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 350 entries, _STATE to _DRNKDRV
dtypes: float64(345), int64(5)
memory usage: 1.1 GB

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 350 entries, _STATE to _DRNKDRV
dtypes: float64(345), int64(5)
memory usage: 1.1 GB

In [8]:
df.describe()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,DROCDY4_,_RFBING6,_DRNKWK2,_RFDRHV8,_FLSHOT7,_PNEUMO3,_AIDTST4,_RFSEAT2,_RFSEAT3,_DRNKDRV
count,433323.000000,433323.000000,4.333230e+05,433323.000000,433323.000000,433323.000000,433323.000000,4.333230e+05,4.333230e+05,88345.0,...,433323.000000,433323.000000,433323.000000,433323.000000,170823.000000,170823.000000,403710.000000,433323.000000,433323.000000,433323.000000
mean,30.486898,6.612273,6.809769e+06,6.652947,15.479848,2023.058411,1117.783963,2.023005e+09,2.023005e+09,1.0,...,77.469760,1.739282,7826.638676,1.660750,2.138272,2.270057,2.028681,1.633470,1.698735,5.565327
std,16.670560,3.518848,3.429094e+06,3.428158,8.671355,0.234520,38.237812,4.455869e+03,4.455869e+03,0.0,...,225.612523,2.123753,26371.148838,2.113355,2.368834,2.618224,1.686731,2.074538,2.069306,3.515690
min,1.000000,1.000000,1.012024e+06,1.000000,1.000000,2023.000000,1100.000000,2.023000e+09,2.023000e+09,1.0,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,18.000000,3.000000,4.042023e+06,4.000000,8.000000,2023.000000,1100.000000,2.023002e+09,2.023002e+09,1.0,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
50%,29.000000,7.000000,7.072023e+06,7.000000,15.000000,2023.000000,1100.000000,2.023004e+09,2.023004e+09,1.0,...,3.000000,1.000000,47.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,9.000000
75%,45.000000,10.000000,1.006202e+07,10.000000,23.000000,2023.000000,1100.000000,2.023008e+09,2.023008e+09,1.0,...,29.000000,1.000000,400.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,9.000000
max,78.000000,12.000000,1.231202e+07,12.000000,31.000000,2024.000000,1200.000000,2.023026e+09,2.023026e+09,1.0,...,900.000000,9.000000,99900.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [14]:
def remove_features_with_missing_values(df, threshold=0.2):
    missing_percentage = df.isnull().mean()
    columns_to_drop = missing_percentage[missing_percentage > threshold].index
    df = df.drop(columns=columns_to_drop)

    return df

df = remove_features_with_missing_values(df, threshold=0.2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Columns: 129 entries, _STATE to _DRNKDRV
dtypes: float64(124), int64(5)
memory usage: 426.5 MB

In [18]:
from extract_label import parse_sas_html

sas_variable, value_labels = parse_sas_html("USCODE23_LLCP_091024.HTML")

In [20]:
cols = df.columns
for col in cols:
    print(f"{col}")

_STATE
FMONTH
IDATE
IMONTH
IDAY
IYEAR
DISPCODE
SEQNO
_PSU
SEXVAR
GENHLTH
PHYSHLTH
MENTHLTH
PRIMINS1
PERSDOC3
MEDCOST1
CHECKUP1
EXERANY2
STRENGTH
BPHIGH6
CHOLCHK3
TOLDHI3
CHOLMED3
CVDINFR4
CVDCRHD4
CVDSTRK3
ASTHMA3
CHCSCNC1
CHCOCNC1
CHCCOPD3
ADDEPEV3
CHCKDNY2
HAVARTH4
DIABETE4
MARITAL
EDUCA
RENTHOM1
CPDEMO1C
VETERAN3
EMPLOY1
CHILDREN
INCOME3
WEIGHT2
HEIGHT3
DEAF
BLIND
DECIDE
DIFFWALK
DIFFDRES
DIFFALON
SMOKE100
USENOW3
ECIGNOW2
ALCDAY4
FLUSHOT7
PNEUVAC4
HIVTST7
SEATBELT
COVIDPO1
QSTVER
QSTLANG
_METSTAT
_URBSTAT
_STSTR
_STRWT
_RAWRAKE
_WT2RAKE
_IMPRACE
_DUALUSE
_LLCPWT2
_LLCPWT
_RFHLTH
_PHYS14D
_MENT14D
_HLTHPL1
_HCVU653
_TOTINDA
MAXVO21_
FC601_
STRFREQ_
PAMISS3_
_PACAT3
_PAINDX3
_PA150R4
_PA300R4
_PA30023
_PASTRNG
_PAREC3
_PASTAE3
_RFHYPE6
_CHOLCH3
_RFCHOL3
_MICHD
_LTASTH1
_CASTHM1
_ASTHMS1
_DRDXAR2
_MRACE1
_HISPANC
_RACE
_RACEG21
_RACEGR3
_RACEPRV
_SEX
_AGEG5YR
_AGE65YR
_AGE80
_AGE_G
HTIN4
HTM4
WTKG3
_BMI5
_BMI5CAT
_RFBMI5
_CHLDCNT
_EDUCAG
_INCOMG1
_SMOKER3
_RFSMOK3
_CURECI2
DRNKANY6
DROCDY4_
_RFBING6
_DRNKWK2
_RFDRHV8
_AIDTST4
_RFSEAT2
_RFSEAT3
_DRNKDRV

In [17]:

relevant_features = [
    # Continuous variables
    '_AGE80', '_BMI5', 'WTKG3', 'HTM4',

    # Diabete
    'DIABETE4', 'DIABTYPE', '_DRDXAR2',  # Diabetes, kidney, arthritis

    # Chronic health conditions
    'CVDINFR4',  # TARGET VARIABLE
    'CVDCRHD4', 'CVDSTRK3', 'ASTHMA3', 'ASTHNOW', 'CHCSCNC1', 'CHCOCNC1', 'CHCCOPD3', 'ADDEPEV3', 'CHCKDNY2', 'HAVARTH4',

    # Heart attack symptoms
    'HASYMP1', 'HASYMP2', 'HASYMP3', 'HASYMP4', 'HASYMP5', 'HASYMP6',
    
    # Demographics
    '_SEX', '_AGEG5YR', '_RACE',  # Sex, age, and race/ethnicity are important risk factors.

    # Health Status
    '_RFHLTH', '_PHYS14D', '_CHOLCH3', '_RFHYPE6', '_MICHD',   # Health conditions like general health, physical health, cholesterol, blood pressure, heart disease, and current e-cigarette use are key predictors.

    # Lifestyle
    '_SMOKER3', '_CURECI2', '_RFSMOK3', '_PA150R4', '_PA300R4', '_PASTRNG', '_RFBMI5',  # Smoking status, physical activity, and BMI are strongly associated with heart disease.

    # Risk Factors
    '_BMI5CAT', '_RFCHOL3', '_RFBING6', '_RFDRHV8', '_TOTINDA',  # Body mass index (BMI) category, cholesterol levels, alcohol consumption, and physical activity are key risk factors.

    # Health Access & Monitoring
    '_PAINDX3', '_PASTAE3', '_PACAT3'  # physical activity levels, and health checkups play a role in heart disease risk.
]

In [21]:
filtered_df = df[[col for col in relevant_features if col in df.columns]]

print(filtered_df.head())
print(f"Number of features after filtering: {len(filtered_df.columns)}")

   _AGE80   _BMI5   WTKG3   HTM4  DIABETE4  DIABTYPE  _DRDXAR2  CVDINFR4  \
0    80.0  3047.0  7802.0  160.0       1.0       NaN       2.0       2.0
1    80.0  2856.0  5987.0  145.0       3.0       NaN       1.0       2.0
2    80.0  2231.0  5897.0  163.0       3.0       NaN       1.0       2.0
3    78.0  2744.0  7711.0  168.0       3.0       NaN       1.0       2.0
4    76.0  2585.0  7711.0  173.0       1.0       NaN       1.0       2.0

   CVDCRHD4  CVDSTRK3  ...  _PASTRNG  _RFBMI5  _BMI5CAT  _RFCHOL3  _RFBING6  \
0       2.0       2.0  ...       2.0      2.0       4.0       1.0       1.0
1       2.0       2.0  ...       2.0      2.0       3.0       2.0       1.0
2       2.0       2.0  ...       2.0      1.0       2.0       2.0       1.0
3       2.0       2.0  ...       2.0      2.0       3.0       1.0       1.0
4       2.0       2.0  ...       2.0      2.0       3.0       1.0       1.0

   _RFDRHV8  _TOTINDA  _PAINDX3  _PASTAE3  _PACAT3
0       1.0       2.0       2.0       2.0      4.0
1       1.0       1.0       1.0       2.0      1.0
2       1.0       1.0       9.0       9.0      9.0
3       1.0       1.0       1.0       2.0      9.0
4       1.0       1.0       1.0       2.0      1.0

[5 rows x 47 columns]
Number of features after filtering: 47

In [23]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433323 entries, 0 to 433322
Data columns (total 47 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _AGE80    433323 non-null  float64
 1   _BMI5     392788 non-null  float64
 2   WTKG3     399172 non-null  float64
 3   HTM4      411182 non-null  float64
 4   DIABETE4  433318 non-null  float64
 5   DIABTYPE  24275 non-null   float64
 6   _DRDXAR2  430763 non-null  float64
 7   CVDINFR4  433320 non-null  float64
 8   CVDCRHD4  433320 non-null  float64
 9   CVDSTRK3  433319 non-null  float64
 10  ASTHMA3   433320 non-null  float64
 11  ASTHNOW   64366 non-null   float64
 12  CHCSCNC1  433320 non-null  float64
 13  CHCOCNC1  433320 non-null  float64
 14  CHCCOPD3  433320 non-null  float64
 15  ADDEPEV3  433320 non-null  float64
 16  CHCKDNY2  433320 non-null  float64
 17  HAVARTH4  433319 non-null  float64
 18  HASYMP1   10522 non-null   float64
 19  HASYMP2   10507 non-null   float64
 20  HASYMP3   10501 non-null   float64
 21  HASYMP4   10493 non-null   float64
 22  HASYMP5   10484 non-null   float64
 23  HASYMP6   10475 non-null   float64
 24  _SEX      433323 non-null  float64
 25  _AGEG5YR  433323 non-null  float64
 26  _RACE     433237 non-null  float64
 27  _RFHLTH   433323 non-null  float64
 28  _PHYS14D  433323 non-null  float64
 29  _CHOLCH3  433323 non-null  float64
 30  _RFHYPE6  433323 non-null  float64
 31  _MICHD    428738 non-null  float64
 32  _SMOKER3  433323 non-null  float64
 33  _CURECI2  433323 non-null  float64
 34  _RFSMOK3  433323 non-null  float64
 35  _PA150R4  433323 non-null  float64
 36  _PA300R4  433323 non-null  float64
 37  _PASTRNG  433323 non-null  float64
 38  _RFBMI5   433323 non-null  float64
 39  _BMI5CAT  392788 non-null  float64
 40  _RFCHOL3  381512 non-null  float64
 41  _RFBING6  433323 non-null  float64
 42  _RFDRHV8  433323 non-null  float64
 43  _TOTINDA  433323 non-null  float64
 44  _PAINDX3  433323 non-null  float64
 45  _PASTAE3  433323 non-null  float64
 46  _PACAT3   433323 non-null  float64
dtypes: float64(47)
memory usage: 155.4 MB

In [61]:
filtered_df.describe()

,_AGE80,_BMI5,WEIGHT2,HEIGHT3,_DRNKWK2,DIABETE4,_DRDXAR2,CVDINFR4,CVDCRHD4,CVDSTRK3,...,_PASTRNG,_RFBMI5,_BMI5CAT,_RFCHOL3,_RFBING6,_RFDRHV8,_TOTINDA,_PAINDX3,_PASTAE3,_PACAT3
count,433323.000000,392788.000000,422712.000000,421674.000000,433323.000000,433318.000000,430763.000000,433320.000000,433320.000000,433319.000000,...,433323.000000,433323.000000,392788.000000,381512.000000,433323.000000,433323.000000,433323.000000,433323.000000,433323.000000,433323.000000
mean,55.375461,2847.928783,757.960056,853.547046,7826.638676,2.751400,1.668579,1.976636,1.996008,1.975805,...,1.841405,2.370343,2.999674,1.485149,1.739282,1.660750,1.269667,2.442557,2.886076,3.588863
std,17.909598,654.197490,2224.967510,1670.598628,26371.148838,0.756212,0.470725,0.464178,0.560548,0.375317,...,1.401813,2.175088,0.834410,0.854521,2.123753,2.113355,0.598848,2.676583,2.727599,2.920024
min,18.000000,1202.000000,50.000000,200.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,41.000000,2410.000000,150.000000,504.000000,0.000000,3.000000,1.000000,2.000000,2.000000,2.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,58.000000,2740.000000,180.000000,507.000000,47.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,3.000000
75%,71.000000,3162.000000,220.000000,511.000000,400.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,4.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,4.000000
max,80.000000,9984.000000,9999.000000,9999.000000,99900.000000,9.000000,2.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,4.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [25]:
filtered_df.to_csv('my_filtered_df.csv', index=False)

print("Filtered DataFrame has been exported to 'my_filtered_df.csv'")

Filtered DataFrame has been exported to 'my_filtered_df.csv'

In [15]:
df['_DRNKWK2'].value_counts()

_DRNKWK2
0.0        191402
99900.0     32825
23.0        22605
47.0        19269
93.0        12429
            ...
18293.0         1
2730.0          1
3400.0          1
7467.0          1
5880.0          1
Name: count, Length: 256, dtype: int64